@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<!--Landing page for this website with image and stuff-->

<div class="masthead container d-flex align-items-center flex-column">
    <img src="~/JoelHilton.jpg" alt="Joel Hilton Image" />
    <p>Please enjoy the image of our sponsor, Joel</p>
</div>
