@{
    ViewBag.Title = "Podcasts";
}

<!--Podcast page that links to baconsale-->

<div class="masthead container d-flex align-items-center flex-column">
    <h4>Please enjoy some of Joels podcasts at the following site!</h4>
    <br />
    <br />
    <p>Click <a href="https://baconsale.com/" target="_blank">here</a> to find Joel's Movie Podcast </p>
</div>