@{
    ViewBag.Title = "Podcasts";
}

<!--Podcast page that links to baconsale-->

<div class="masthead container d-flex align-items-center flex-column">
    <h4>The movie has been removed from the database!</h4>
</div>